@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');





.logo{
    width: 4rem;
}

.navlinks
{
    font-family: 'Nunito Sans', sans-serif;
    color: #792d78;
}

.onboard-title{
    font-family: 'Montserrat', sans-serif;

}
.onboard-statement{
    font-family: 'Nunito Sans', sans-serif;


}

.Onboardimg
{
    width: 35rem;
    height: 35rem;
}

.onboarding-statement2 {
    text-align: center;
}

#getstartbtn
{
    background-color: #792d78;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 35px 6px 35px;


}